@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

a {
    font-family: Fredoka, Arial;
    color: black;
    font-size: 1.2rem;
}

.container {
    display: block; 
    height: 100%;
}

canvas {
    margin: 20px 0;
}

h1 {
    color: #ff006e;
    font-family: Fredoka, Arial;
    font-size: 3rem;
    font-weight: 550;
    margin-top: 20px;
}

.buttons {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 5px;
}

#restart, #difficulty {
    font-family: Fredoka, Arial;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
    transition: transform 0.5s ease;
    max-width: 300px; 
}

@media (max-width: 400px) {
    .buttons {
        flex-direction: column; 
        align-items: stretch;
    }
}

#restart {
    background-color: #54e877;
}

#restart:hover {
    transform: scale(1.02);
    background-color: hsl(134, 76%, 65%);
}

#difficulty {
    background-color: #8900f2;
}

#difficulty:hover {
    transform: scale(1.02);
    background-color: hsl(274, 100%, 57%);
}



